<app-widget-error *ngIf="error" class="error" [error]="error"></app-widget-error>
<div class="title mat-title">Backlog Widget</div>
<mat-divider></mat-divider>
<section class="content">
  <mat-icon class="icon" color="primary">show_chart</mat-icon>
  <ul class="tasks" *ngIf="tasks$ | async as tasks">
    <li class="task mat-body" *ngFor="let task of tasks">{{task.title}}</li>
    <li class="no-data mat-caption" *ngIf="tasks.length === 0">No Tasks In Backlog</li>
  </ul>
  <button (click)="addTask()" mat-stroked-button color="primary" class="add-new-task">Add new Task</button>
</section>
